/* This file is for your main application css. */

/* Hack to account for elm-ui failing to center wrapped elements
   See: https://github.com/mdgriffith/elm-ui/issues/57
 */
.s.r > s:first-of-type.accx { flex-grow: 0 !important; }
.s.r > s:last-of-type.accx { flex-grow: 0 !important; }
.cx > .wrp { justify-content: center !important; }
